<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934889673877-0s3j3ckit3lv2akpqf3ge6knbprlhku7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934889673877-0s3j3ckit3lv2akpqf3ge6knbprlhku7</string>
	<key>API_KEY</key>
	<string>AIzaSyCHDJ4_7wTLeYTymI8J7UwtpGoICPlYM2U</string>
	<key>GCM_SENDER_ID</key>
	<string>934889673877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ElinSimonsson.ToDoListApp</string>
	<key>PROJECT_ID</key>
	<string>mat-a-door</string>
	<key>STORAGE_BUCKET</key>
	<string>mat-a-door.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934889673877:ios:0246b714efa12b0891779c</string>
</dict>
</plist>